.h2 {
    font-size: 15px;
}
.block {
    display: block;
}

.cta {
	border: none;
	margin: 5px auto;
	display: inline-block;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	border-radius: 20px;
	background-color: #425eff
}
.cta:hover {
	cursor: pointer;
}
.cta:focus {
	background-color: #23317d
}
.cta:active {
	background-color: #23317d
}

.info-pane {
	padding: 10px;
	margin: 10px 0;
	background: #f3f3f3;
	border-radius: 5px;
}
.info-pane li {
	margin-bottom: 3px;
}
.info-pane li::before {
	content: " ";
	margin-right: 2px;
	width: 5px;
	height: 5px;
	border: 3px solid black;
	border-radius: 3px;
	position: relative;
	bottom: 2px;
}